*{
    margin: 0;
    padding: 0;
}

h1 {
    color: blueviolet;
}

.container {
    height: 100vh;
    width: 100%;
    background-color:#EDEDED;
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    position: relative;
}

.center{
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.centerButton{
    margin: 0;
    position: absolute;
    top: 56%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}