<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Home</h1>
    <p1>some info</p1>
<body style="background-color: #EDEDED">
    <div class="container">
        <div>
            <div class="center">
                <img src="userlogin\static\images\welcome.png" alt="logo" height=280 width=500><br>
                
            </div>
            <div class="centerButton">
                <!--button directs to google for now-->
                <a href="https://www.google.com">
                    <img src="userlogin\static\images\buttonStart.png" alt="button" height=100 width=180>
                </a>
            </div>
        </div>
    </div> 
</body>
<style>
    #mybutton {
      margin-top: 50%;
      margin-left: 50%;
      width: 250px;
  }
    </style>
</body>

</html>