<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meet up map</title>
    <link rel="stylesheet" href='./static/css/mapstyle.css' type='text/css'>
</head>
<body>
    
    <h1>language learners near you!</h1>
    
    <!-- We have reached the extend of my html knowledge -->
    <!-- https://developers.google.com/maps/documentation/maps-static/start#Markers -->
    <!-- https://developers.google.com/maps/documentation/maps-static/start#CustomIcons -->
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Williamsburg,Brooklyn,NY&zoom=13&size=400x400&
    markers=color:blue%7Clabel:S%7C11211%7C11206%7C11222&key=AIzaSyBFK29KB8lqn_iYTnT9YmU6Jb-liNMezWE" alt="logo" height=400 width=400>
    
<!-- 
    <iframe
      width="450"
      height="250"
      frameborder="0" style="border:0"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBFK29KB8lqn_iYTnT9YmU6Jb-liNMezWE&center=0,0"
      allowfullscreen>
  </iframe> -->

    <!-- <div id = "map" ></div>
    <script src="./static/js/mapscript.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFK29KB8lqn_iYTnT9YmU6Jb-liNMezWE&callback=initMap&v=weekly"
      defer
    ></script> -->


</body>
</html>